<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tareas Completadas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-icon size="large" name="key-outline"></ion-icon>
      <ion-card-title>Código de acceso</ion-card-title>
      <ion-card-subtitle>El código de acceso es la clave de la caja fuerte que contiene la llave de su habitación.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Código: &nbsp;{{accesscode}}</h2>
    </ion-card-content>

  </ion-card>


</ion-content>
