<ion-header>
  <ion-toolbar>
    <ion-title>tab3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label style="font-size: 30px"
          >{{titles[currentLanguage][0]}}</ion-label
        >
      </ion-item>
      <div
        class="ion-padding"
        slot="content"
        style="display: flex; justify-content: center; align-items: center"
      >
        <h1 *ngFor="let v of actividades[currentLanguage]">{{v}}</h1>
        <img
          style="margin: auto; float: right; width: 200px"
          src="assets/admin-xc.webp"
        />
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label style="font-size: 30px"
          >{{titles[currentLanguage][1]}}</ion-label
        >
      </ion-item>
      <div class="ion-padding" slot="content">
        <ul>
          <li *ngFor="let r of recomendaciones[currentLanguage]">
            <h3>{{r}}</h3>
          </li>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label style="font-size: 30px"
          >{{titles[currentLanguage][2]}}</ion-label
        >
      </ion-item>
      <div class="ion-padding" slot="content">
        <h3>
          {{historia[currentLanguage][0]}}<br /><br />{{historia[currentLanguage][1]}}
        </h3>
        <img style="margin: auto; width: 200px" src="assets/historia1.webp" />
        <img
          style="margin: auto; float: right; width: 200px"
          src="assets/xcaret.webp"
        />
        <img
          style="margin: auto; float: left; width: 200px"
          src="assets/Foto-Xcaret-13.webp"
        />
        <img
          style="margin: auto; float: right; width: 200px"
          src="assets/historia2.webp"
        />
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label style="font-size: 30px"
          >{{titles[currentLanguage][3]}}</ion-label
        >
      </ion-item>
      <div class="ion-padding" slot="content">
        <img
          style="
            margin: auto;
            float: center;
            width: 800px;
            display: flex;
            justify-content: center;
          "
          src="assets/numEmergencia.PNG"
        />
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button
      mini
      style="margin: 8px; width: 40px; height: 40px; line-height: 40px"
    >
    <img loading="lazy" [src]="foto" />
    </ion-fab-button>
    <ion-fab-list side="top">
      <h1 style="margin-left: 8%; font-size: 17px">Hola, {{name}}</h1>

      <ion-fab-button
        (click)="goLogin()"
        color="danger"
        data-desc="Cerrar Sesión"
      >
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        (click)="goPay()"
        color="warning"
        data-desc="Pagos Pendientes"
      >
        <ion-icon name="card-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
